{% load staticfiles %}
<html>
    <head>
        <title>Angular + Django</title>
        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'angular/angular-cookies.min.js' %}"></script>
        <script src="{% static 'angular/angular-route.min.js' %}"></script>
        <script src="{% static 'app.js' %}"></script>
        <script>
        // Configuration information
        var login_url = "{{ login_url }}";
        </script>
    </head>
    <body ng-app="pollsApp">

      {% verbatim %}
        <div ng-controller="PollsController">
          <div ng-view>
          </div>
        </div>
      {% endverbatim %}

    </body>
</html>
